@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--foreground-rgb), 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, 
    rgba(var(--background-start-rgb), 1),
    rgba(var(--background-end-rgb), 1)
  );
}

html {
  overscroll-behavior-y: auto;
}


@layer components {
  .card {
    @apply w-80 p-6 shadow-md rounded-lg text-white
  }
  .card-text {
    @apply text-2xl font-semibold mb-2 text-center
  }
  .card-amount { 
    @apply text-2xl font-bold text-center
  }
  .th-default {
    @apply px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
  }
  .td-default {
    @apply px-3 py-4 whitespace-nowrap text-sm font-medium 
  }
  .td-content {
    @apply px-4 py-4 text-sm text-gray-500
  }
}